extends ../layout.pug

block content
  a.btn.btn-primary.mb-3(href="/product/create") Add New Product
  .row
    .col-md-4
      form(action='/product/search')
        |Search Name
        .d-flex.justify-content-between
          input.form-control.mr-3(name='productName')
          input.btn.btn-primary(type="submit" value="Search")
          button.btn.btn-secondary(type="button" onclick="window.location='/product'") Reset
    .col-md-4
      form(action='/product/searchPrice')
        .d-flex.justify-content-between
          |From
          input.form-control.mr-3(name='minPrice')
          |To
          input.form-control.mr-3(name='maxPrice')
          input.btn.btn-primary(type="submit" value="Search Price")
          button.btn.btn-secondary(type="button" onclick="window.location='/product'") Reset
  h1.text-center Product List
  
  table.table
    thead.thead-dark
      tr
        th _id
        th ID 
        th Product Name
        th Product Price
        th Email 
        th Password
        th Image
        th Action
    tbody
      if messageSearch
        tr
          td(colspan="8")
            h4.text-center(style= 'color: red;')= messageSearch
      else
        each item in products
          tr
            td= item._id
            td= item.productID
            td= item.productName
            td= item.productPrice
            td= item.email
            td= item.password
            td
              img(src=`/images/${item.image}` style="width:100px;height:auto")
            td.d-flex.justify-content-around.align-self-center
              a.btn.btn-warning(href=`/product/update/${item.productID}`) Update
              a.btn.btn-danger(href=`/product/delete/${item.productID}` onclick="return confirmDelete()") Delete
      if !messageSearch && !products
        tr 
          td(colspan="8") No Data!
  script.
    function confirmDelete() {
      if (confirm("Are you sure you want to delete this product?")) {
        return true;
      }
      else {
        return false;
      }
    }
